<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang tạo mới sản phẩm</title>
  </head>
  <body>
    <div class="container">
      <h2 class="text-center my-5">Tạo mới sản phẩm</h2>
      <form
        action="/admin/category/create"
        method="POST"
        enctype="multipart/form-data"
        autocomplete="off"
      >
        <div class="mb-3">
          <label class="form-label">Tên sản phẩm</label>
          <input
            type="text"
            class="form-control"
            name="name_category"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Danh mục cha</label>
          <%- include ("../../../components/category/select-category.ejs") %>

        
        
        </div>
        <div class="mb-3">
          <label class="form-label">Ảnh</label>
          <input
            type="file"
            class="form-control file image_file_preview"
            id="image_category"
            name="image_category"
            accept="image/"
            upload-image-category
          />
          <div class="preview">
            <img src="" alt="" class="image_preview" />
            <button class="btn btn-danger remove_image">Xóa</button>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Mô tả</label>
          <textarea
            class="form-control decs_textarea"
            name="description"
          ></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Vị trí</label>
          <input
            type="number"
            class="form-control"
            name="position"
            placeholder="Tự động nhập"
          />
        </div>
        <div class="mb-3 d-flex align-items-center check_form">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="status"
              value="active"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Hoạt động
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="status"
              value="inactive"
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Không hoạt động
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
  <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
  <script src="/js/admin/my-tinymce-config.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <script src="/js/create.js"></script>
</html>
