<form action="/admin/product/change-multiple?_method=PATCH" class="row" form-change-multiple method="POST">
    <div class="col-2">
        <select class="form-select" aria-label="Default select example" name="type">
      <option value="active">Hoạt động</option>
      <option value="inactive">Dừng hoạt động</option>
    </select>
    </div>
    <button class="col-1 btn btn-primary" type="submit">Áp dụng</button>
    <div class="">
      <input type="text" name="ids" class="form-control d-none ">
    </div>
  </form>