<div class="row">
    <div class="col-4" id="sort-form">
        <select
        class="form-select"
        aria-label="Default select example"
        id="sort"
        name="sort"
      >
        <option disabled selected>--Chọn hành động--</option>

        <option value="position-desc">Vị trí giảm dần</option>
        <option value="position-asc">Vị trí tăng dần</option>
        <option value="price_product-desc">Giá giảm dần</option>
        <option value="price_product-asc">Giá tăng dần</option>
        <option value="name_product-desc">Z-A</option>
        <option value="name_product-asc">A-Z</option>


      </select>
    </div>
    <div class="col-2">
        <button class="btn btn-danger" id="btn-clear">Mặc định</button>
    </div>
</div>