<div class="mb-3 d-flex align-items-center check_form">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="status"
        value="active"
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Hoạt động
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="status"
        value="inactive"
        id="flexCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked">
        Không hoạt động
      </label>
    </div>
  </div>