<link rel="stylesheet" href="css/style.css" />
<div class="slidebar">
  <div class="item-slidebar">
    <a href="">Trang tổng quan</a>

  </div>
  <div class="item-slidebar">
    <a href="/admin/product">
      Sản phẩm
    </a>
  </div>
  <div class="item-slidebar">
    <a href="/admin/user">Người dùng</a>
  </div>
</div>
