
<div class="slidebar">
  <div class="item-slidebar">
    <div class="item-click">Quản lý</div>
  </div>
  <div class="item-slidebar">
    <div class="item-click">Sản phẩm</div>
    <ul class="list-item">
      <li><a href="/admin/product">Danh sách sản phẩm</a></li>
      <li><a href="/admin/product/create">Thêm sản phẩm</a></li>
    </ul>
  </div>
  <div class="item-slidebar">
    <div class="item-click">Danh mục sản phẩm</div>
    <ul class="list-item">
      <li><a href="/admin/category">Danh sách danh mục</a></li>
      <li><a href="/admin/category/create">Tạo danh mục</a></li>
    </ul>
  </div>
  <div class="item-slidebar">
    <div class="item-click">Nhóm quyền </div>
    <ul class="list-item">
      <li><a href="/admin/role">Danh sách nhóm quyền</a></li>
      <li><a href="/admin/role/create">Tạo nhóm quyền</a></li>
      <li><a href="/admin/role/permission">Phân quyền</a></li>

      
    </ul>
  </div>
  <div class="item-slidebar">
    <div class="item-click">Danh mục tài khoản</div>
    <ul class="list-item">
      <li><a href="/admin/account">Danh sách tài khoản</a></li>
      <!-- <li><a href="/admin/category/create">Tạo danh mục</a></li> -->
    </ul>
  </div>
</div>
<script src="/js/slidebar.js"></script>

