<div class="col-4">
  <button type="button" class="btn btn-secondary" button-status="">
    Tất cả
  </button>
  <button type="button" class="btn btn-outline-success" button-status="active">
    Hoạt động
  </button>
  <button type="button" class="btn btn-outline-danger" button-status="inactive">
    Không hoạt động
  </button>
</div>
