<div class="col-6">
  
  <form action="" id="form-search" autocomplete="off">
    <div class="input-group ">
        <input
      type="text"
      class="form-control"
       placeholder="Nhập tên sản phẩm cần tìm"
       name="keyword"
       value="<%- keyword %>"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
          type="submit"
        >
          Tìm kiếm
        </button>
    </div>
</form>         


</div>